<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/static/icon.png" sizes="400x400">
    <title>About</title>
  </head>
  <body>
    {% extends "page_template.html" %}
    {% block content %}
    <div class="hero-body">
      <div class="container is-widescreen">
        <h1 class="title is-4"> About InterARTIC </h1>
        <div class="content">
          <p> InterARTIC allows users to run the ARTIC pipeline through a streamlined web application.<br><br>
              Default parameters have been set from the existing protocols available:
          </p>
            SARS-CoV-2:
          <ol type="1">
            <li>Artic (400bp) - V1, V2, V3</li>
            <li>Eden (2500bp) - V1</li>
            <li>Midnight (1200bp) - V1</li>
          </ol>
          IturiEBOV:
          <ol type="1">
            <li>Artic - V1</li>
          </ol>
          Custom:
          <ol type="1">
            <li>Input the path, virus, version of your own primer set</li>
          </ol>
          <p>
              To have your primer set added to InterARTIC, please submit an issue on the github repo
          </p>
          <p>Github: <a href="https://github.com/Psy-Fer/interARTIC"/a>link</a></p>
          <p>Documentation:<a href="https://psy-fer.github.io/interARTIC/"/a>link</a></p>
          <p>Pre-print: <a href="https://www.biorxiv.org/content/10.1101/2021.04.21.440861v2"/a>link</a></p>


          <p>Developed by Alyne Gollon, Chiara Aquilina-Reid, Rachel Bowen-James, Stephanie Tong & Thanh Nguyen, James Ferguson, Hasindu Gamaarachchi, and Ira Deveson at the Garvan Institute of Medical Research and University of New South Wales, Sydney.
          </p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
