<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/static/icon.png" sizes="400x400">
    <title>About</title>
  </head>
  <body>
    {% extends "page_template.html" %}
    {% block content %}
    <div class="hero-body">
      <div class="container is-widescreen">
        <h1 class="title is-4"> About InterARTIC </h1>
        <div class="content">
          <p> InterARTIC allows users to run the ARTIC pipeline through a streamlined web application.
          Default parameters have been set from the existing protocols available.
          </p>
          <p> These are the folowing protocols:</p>
          <ol type="1">
            <li>Artic primers & Native BC</li>
            <li>Eden primers & Native BC</li>
            <li>Eden primers & Rapid BC</li>
            <li>Other</li>
          </ol>

          <p>
          In addition, the user can modify these settings to their own preferences
          </p>

          <p>Click <a href="https://tthnguyen11.github.io/interARTIC/" target="_blank">here</a> to access our documentation</p>


          <small>Developed by Alyne Gollon, Chiara Aquilina-Reid, Rachel Bowen-James, Stephanie Tong & Thanh Nguyen. <p>
          Thanks to James Ferguson and Hasindu Gamaarachchi from the Garvan Institute of Medical Research for their support and guidance.</small>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
