<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <link rel="icon" type="image/png" href="/static/icon.png" sizes="400x400">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Home</title>
  </head>
  <body>
    {% extends "page_template.html" %}
    {% block content %}
    <div class="hero-body">
      <div class="container is-widescreen ">
        <h1 class="title is-4">SARS-CoV-2 Nanopore Analysis</h1>
        <div class="content">
          <p>This is a web application designed to run the Nanopore Analysis using the ARTIC pipeline.</p>
        </div>
      </div>
      <br>
      <div class="container is-widescreen">
        <div class="columns">
          <div class="column">
<!--            <h1 class="title is-6">Jobs Queue</h1>-->
            <table class="table is-hoverable is-bordered is-fullwidth">
                <thead>
                    <tr>
                        <th>Queued Jobs</td>
                    </tr>
                </thead>
                <tbody id=jobsQueue>
                </tbody>
            </table>
                
            <a class="button" href="/parameters">Add Job</a><br>
      
          </div>
          <div class="column">
            <table class="table is-hoverable is-bordered is-fullwidth">
                <thead>
                    <tr>
                        <th>Completed Jobs</td>
                    </tr>
                </thead>
                <tbody id=completedJobs>
                </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>
    <script>
        var jobsQueue = document.getElementById("jobsQueue")
        var completedJobs = document.getElementById("completedJobs")


        $.ajax({
          type: 'POST',
          url: '/getCheckTasksUrl',
          success: function(data, status, request) {
            checkTasksUrl = request.getResponseHeader('Location');
            update_jobs(checkTasksUrl);
          },
          error: function() {
            alert('Unexpected error');
          }
        });

        function update_jobs(checkTasksUrl) {
          $.getJSON(checkTasksUrl, function(data) {
            changed = data['changed']
            queue = data['queue']
            completed = data['completed']
            console.log("CHANGED: ", changed)
            console.log("QUEUE: ", queue)
            console.log("COMPLETED: ", completed)

            // console.log(jobsQueue.childElementCount)
            // if (jobsQueue.childElementCount == 0) {
            //   console.log("HEREEEEEE")
            // }

            if (changed == true || jobsQueue.childElementCount == 0) {
              //Remove child nodes from jobsQueue and completedJobs
              while (jobsQueue.hasChildNodes()) {  
                jobsQueue.removeChild(jobsQueue.firstChild);
              }
              while (completedJobs.hasChildNodes()) {  
                completedJobs.removeChild(completedJobs.firstChild);
              }

              if (queue.jobs.length) {
                var jobs = queue.jobs;
                jobs.forEach(job => {
                  for (var key of Object.keys(job)) {
                    const curJobRow = document.createElement("tr");
                    const curJob = document.createElement("td");
                    const linkNode = document.createElement("a");
                    const textNode = document.createTextNode(key);
                    linkNode.href = job[key]; 
                    
                    const btn = document.createElement("a"); 
                    btn.innerHTML = "Abort"; 
                    btn.classList.add("button");
                    btn.classList.add("is-danger");
                    btn.classList.add("is-light");
                    btn.style = "float:right";
                    btn.id = "abort"
                    btn.href = job[key].replace('progress', 'abort');

                    linkNode.appendChild(textNode);
                    curJob.appendChild(linkNode);
                    curJob.appendChild(btn);
                    curJobRow.appendChild(curJob);
                    jobsQueue.appendChild(curJobRow);
                  };
                });
              } else {
                console.log("HERE")

                const curJobRow = document.createElement("tr");
                const curJob = document.createElement("td");
                const textNode = document.createTextNode("You currently have no queued jobs.");
                curJob.classList.add("has-text-grey-light");
                curJob.classList.add("is-italic");
                
                curJob.appendChild(textNode);
                curJobRow.appendChild(curJob);
                jobsQueue.appendChild(curJobRow);
              };

              if (completed.jobs.length) {
                var jobs = completed.jobs;
                jobs.forEach(job => {
                  for (var key of Object.keys(job)) {
                      const curJobRow = document.createElement("tr");
                      const curJob = document.createElement("td");
                      const linkNode = document.createElement("a");
                      const textNode = document.createTextNode(key);
                      linkNode.href = job[key];
                      
                      const btn = document.createElement("a"); 
                      btn.innerHTML = "Delete"; 
                      btn.classList.add("button");
                      btn.classList.add("is-danger");
                      btn.classList.add("is-light");
                      btn.style = "float:right";
                      btn.id = "abort"
                      btn.href = job[key].replace('progress', 'abort');

                      linkNode.appendChild(textNode);
                      curJob.appendChild(linkNode);
                      curJob.appendChild(btn);
                      curJobRow.appendChild(curJob);
                      completedJobs.appendChild(curJobRow);
                  };
                });
              } else {
                const curJobRow = document.createElement("tr");
                const curJob = document.createElement("td");
                const textNode = document.createTextNode("You currently have no completed jobs.");
                curJob.classList.add("has-text-grey-light");
                curJob.classList.add("is-italic");
                
                curJob.appendChild(textNode);
                curJobRow.appendChild(curJob);
                completedJobs.appendChild(curJobRow);
              };
            }

            // rerun in 2 seconds
            setTimeout(function() {
              update_jobs(checkTasksUrl);
            }, 2000);
            
          });
        }


         
    </script>
    <script>
      var aElems = document.getElementById('abort');
      aElems.onclick = function() {
          var check = confirm("Are you sure you want to abort the job?");
          if (check == true) {
              return true;
          }
          else {
              return false;
          }
      };
    </script>
    {% endblock %}
  </body>
</html>
