<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <title>Home</title>
  </head>
  <body>
    {% extends "page_template.html" %}
    {% block content %}
    <div class="hero-body">
      <div class="container is-fluid ">
        <h1 class="title is-4">SARS-CoV-2 Nanopore Analysis</h1>
        <div class="content">
          <p>This is a web application designed to run the Nanopore Analysis using the ARTIC pipeline.</p>
        </div>
      </div>
      <br>
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            <h1 class="title is-6">Jobs Queue</h1>
            <table id=jobsQueue>
            </table>
                
            <a class="button" href="/parameters">Add Job</a><br>
      
          </div>
          <div class="column">
            <h1 class="title is-6">Completed Jobs</h1>
            <a href="{{ url_for('output') }}">Output</a>
          </div>
        </div>
      </div>
    </div>
    <script>
         const jobsQueue = document.getElementById("jobsQueue");

         var jobsJson = JSON.parse({{ queue|tojson|safe }});
         console.log("Jobs List: ", jobsJson);
         const jobs = jobsJson.jobs;

         jobs.forEach( job => {
             const curJobRow = document.createElement("tr");
             const curJob = document.createElement("td");
             const node = document.createTextNode(job);
             curJob.appendChild(node);
             curJobRow.appendChild(curJob);
             jobsQueue.appendChild(curJobRow);
         });
    </script>
    {% endblock %}
  </body>
</html>
