<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {% extends "page_template.html" %}
    {% block content %}
    <div class="hero-body">
      <div class="container is-fluid">
        <h1 class="title is-4"> Output </h1>
        <div class="container is-fluid">
          <div class="columns">
            <div class="column">
              <h1 class="title is-4"> Files produced </h1>
              <text> These are the files produced from "</text><text style="color:#0066cc">{{ job_name }}</text><text>".</text>
              <text> They have been saved into the selected folder "</text><text style="color:#0066cc">{{ output_folder }}</text><text>".</text><br>
              <text id="files"> {{output_files}} </text>
            </div>
            <div class="column">
              <h1 class="title is-4"> Data Visualisation </h1>
              <h1 class="title is-6"> Variants found </h1>
              <div id="vcf">
              <input class="button is-small" type="submit" name="submit_button" id="produce_graphs" value="Produce graphs" onClick="produceGraphs({{variant_graphs}})">
              </div><br>
              {% if save_graphs == "Enabled" %}
              <h1 class="title is-6"> Plots produced from pipeline </h1>
              <form method=POST>
                <input type="radio" id="barplot" name="plot" value="barplot" required>
                <label for="barplot"> Barplot </label><br>
                <input type="radio" id="boxplot" name="plot" value="boxplot">
                <label for="boxplot"> Boxplot </label><br>
                <input type="radio" id="both" name="plot" value="both">
                <label for="both"> Both </label><br>
                <br>
                <div id="preview">
                  <text> Previewing plots: </text>
                    {% if barplots %}
                      {% for plot in barplots %}
                        <img src="{{ plot }}" alt="{{ plot }}">
                      {% endfor %}
                    {% endif %}
                    {% if boxplots %}
                      {% for plot in boxplots %}
                        <img src= "{{ plot }}" alt="{{ plot }}">
                      {% endfor %}
                    {% endif %}
                </div>
                <br><input class="button is-small" type="submit" name="submit_button" value="Preview">
                <!--input class="button is-small" type="submit" name="submit_button" value="Download"-->
                </form>
                {% endif %}
                <br>
                <b> Enable plots produced to be previewed? </b><br>
                <text> Current status: </text><i>{{save_graphs}}</i><br>
                <small> This requires the plots to be saved to a static folder. Please disable if you would not like this feature. <br>
                <form method=POST>
                  <input type="radio" id="enable" name="save" value="enable" required>
                  <label for="enable"> Enable </label><br>
                  <input type="radio" id="disable" name="save" value="disable">
                  <label for="disable"> Disable </label><br>
                  <input class="button is-small" type="submit" name="submit_button" value="Confirm"> </small>
                <form>
            </div>
          </div>
            <input class="button is-small" type="submit" name="submit_button" id="direct_to_progress" value="Go to progress"><br>
        </div>
    </div>
    </div>

    <script type="text/javascript">
      document.getElementById("direct_to_progress").onclick = function () {
        location.href = "/progress/{{ job_name }}";
      };
      function produceGraphs(variant_graphs, job_name){
        var vcfs = document.getElementById("vcf");
        var button = document.getElementById("produce_graphs");
        button.style.display = "none";
        for (i = 0, len = variant_graphs.length, text = ""; i < len; i++){
          name = variant_graphs[i][0];
          min_pos = variant_graphs[i][1][0];
          max_pos = variant_graphs[i][variant_graphs[i].length-2][0];
          span = max_pos - min_pos;
          max_depth = variant_graphs[i][variant_graphs[i].length-1];
          x_increment = 1000/span;
          var canvas = document.createElement("CANVAS");
          canvas.id = i;
          canvas.width = 1020;
          canvas.height = max_depth + 125;
          canvas.style.border="0.5px solid"
          var ctx = canvas.getContext("2d");
          ctx.lineWidth = 1;
          ctx.beginPath();
          ctx.moveTo(1020, max_depth + 90);
          ctx.lineTo(0, max_depth + 90);
          ctx.closePath();
          ctx.stroke();
          ctx.font = '15px Verdana'
          ctx.textAlign = 'center'
          ctx.fillText("Graph of "+name, canvas.width/2, 40, 1000);
          ctx.font = '10px sans-serif'
          ctx.textAlign = 'left'
          for(j = 1, leng = variant_graphs[i].length-1, text = ""; j < leng; j++){
            snp = variant_graphs[i][j][1] + "->" + variant_graphs[i][j][2];
            ctx.save();
            ctx.translate(0, canvas.height)
            ctx.rotate(-Math.PI/2);
            ctx.fillText(snp, variant_graphs[i][j][3]+40, (variant_graphs[i][j][0]-min_pos)*x_increment+10);
            ctx.fillText(variant_graphs[i][j][0], 5, (variant_graphs[i][j][0]-min_pos)*x_increment+10);
            ctx.restore();
            ctx.lineWidth = 0.3;
            ctx.beginPath();
            ctx.moveTo((variant_graphs[i][j][0]-min_pos)*x_increment+10, max_depth + 90);
            ctx.lineTo((variant_graphs[i][j][0]-min_pos)*x_increment+10, max_depth + 90 -variant_graphs[i][j][3]);
            ctx.closePath();
            ctx.stroke();
          }
          var dataURL = canvas.toDataURL();
          var vcf_graph = document.createElement("img");
          vcf_graph.src = dataURL;
          var dl = document.createElement('a');
          dl.href = dataURL;
          dl.setAttribute('download', "graph of "+name+".png");
          /*dl.innerHTML = "Download";*/
          dl.appendChild(vcf_graph);
          vcfs.appendChild(dl);
          }
      }

    </script>

  {% endblock %}
  </body>
</html>
