<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Page Parent Template</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='css/page_template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">ARTIC Pipeline for SARS-CoV-2 Nanopore Analysis</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>
</html>
