<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/static/css/bulma.min.css" />
   <link rel="icon" type="image/png" href="/static/icon.png" sizes="400x400">
   <title>Page Parent Template</title>
 </head>
 <body>
   <br>
    <div class="container"></div>
      <nav class="level" >
        <p class="level-item has-text-centered">
          <a class="link is-info" href="/home">Home</a>
        </p>
        <p class="level-item has-text-centered">
          <img src="/static/icon.png" width="100" height="100">
          <img src="/static/logo.png">
          <img src="/static/icon2.png" width="100" height="100">
        </p>
        <p class="level-item has-text-centered">
          <a class="link is-info" href="/about">About</a>
        </p>
      </nav>
    </div>


    {% block content %}
    {% endblock %}

    {% block footer %}
    <div class="container">
        <div id="footer">
            <p>Software Versions: InterARTIC {{ VERSION }}, artic {{ ARTIC_VERSION }}</p>
        </div>
    </div>
  {%- endblock %}
 </body>
</html>
