<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/static/css/bulma.min.css" />
   <title>Page Parent Template</title>
 </head>
 <body>
   <br>
    <div class="container"></div>
      <nav class="level">
        <p class="level-item has-text-centered">
          <a class="link is-info" href="/">Home</a>
        </p>
        <p class="level-item has-text-centered">
          <img src="/static/logo.png">
        </p>
        <p class="level-item has-text-centered">
          <a class="link is-info" href="/about">About</a>
        </p>
      </nav>
    </div>
    <br>
    
    {% block content %}
    {% endblock %}

 </body>
</html>
