<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <title>Home</title>
</head>
<body>
    {% extends "page_template.html" %}
    {% block content %}
    <!-- Titles -->
    <div class="hero-body">
      <div class="container is-fluid">
        <h1 class="title is-4">SARS-CoV-2 Nanopore Analysis</h1> <br>
      </div>
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-one-quarter">
            <table class="table is-hoverable is-bordered is-fullwidth">
              <thead>
                  <tr>
                      <th>Jobs Queue</td>
                  </tr>
              </thead>
              <tbody id=jobsQueue>
              </tbody>
          </table>
          </div>
          <div class="column">

              <!-- Start parameter input -->
              <form method=POST>
                <div class="field">
                  <div class="control">
                    <!-- Job name input -->
                    <b> * = required parameter </b><br><br>
                    <h1 class="subtitle">Job Name: *</h1>
                    <input class="input is-info" id="job_name" name="job_name" type="text" placeholder="Job Name" value="{{name}}" required>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <!-- pipeline select -->
                    <h1 class="subtitle">Select a pipeline to run: *</h1>
                    <input type="radio" id="nanopolish" name="pipeline" value="nanopolish" onclick="showNano()" required>
                    <label for="nanopolish">Nanopolish</label><br>
                    <input type="radio" id="medaka" name="pipeline" value="medaka" onclick="showMedaka()">
                    <label for="medaka">Medaka</label><br>
                    <input type="radio" id="both" name="pipeline" value="both" onclick="showBoth()">
                    <label for="both">Both</label>
                  </div>
                </div>

                <!-- file path input -->
                <h1 class="subtitle">Provide file paths: *</h1>
                <b>These must be absolute file paths. Must start with either "/" or "C:\".</b><br><br>
                <!-- input folder file path - Medaka/ Nanopolish-->
                <label for="input_folder">Input folder: *</label><br>
                <input type="text" id="input_folder" name="input_folder" size="80" value="{{input_folder}}"  required><br>
                {% if errors %}
                {% if errors['input_folder'] %}
                <p class="has-text-danger"> {{ errors['input_folder'] }} </p>
                {% endif %}
                {% endif %}

                <!-- read file path - Medaka/ Nanopolish-->
                <br><label for="scheme_folder">Read file:</label><br>
                <small>(only input if you already have this file, otherwise artic gather/ demultiplex will generate it)</small><br>
                <input type="text" id="read_file" name="read_file" size="80" value="{{read_file}}"><br><br>


                <!-- output folder file path - Medaka/ Nanopolish-->
                <label for="output_folder">Output folder: </label><br>
                <small>(if no output folder is provided, one will be created inside the input folder)</small><br>
                <input type="text" id="output_folder" name="output_folder" size="80" value="{{output_folder}}"><br>

                <!-- override output data?-->
                <input type="checkbox" id="override_data" name="override_data">
                <label for="override_data">Override existing data?</label><br><br>

                <h1 class="subtitle">Primer Scheme: *</h1>

                <!-- primer scheme name - Medaka/ Nanopolish-->
                <label for="primer_scheme">Name: *</label><br>
                <small> e.g. nCoV-2019/V1 </small><br>
                <input type="text" id="primer_scheme" name="primer_scheme" size="30" value="{{primer_scheme}}" required><br><br>

                <div class="field">
                  <div class="control">
                    <!-- primer type -->
                    <h2>Primer type:</h2>
                    <input type="radio" id="artic" name="primer_type" value="artic" onclick="setParams()">
                    <label for="artic">Artic</label><br>
                    <input type="radio" id="kirby" name="primer_type" value="kirby" onclick="setParams()">
                    <label for="kirby">Kirby</label><br>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <!-- barcode type -->
                    <h2>Barcode type:</h2>
                    <input type="radio" id="native" name="barcode_type" value="native" onclick="setParams()">
                    <label for="native">Native</label><br>
                    <input type="radio" id="rapid" name="barcode_type" value="rapid" onclick="setParams()">
                    <label for="rapid">Rapid</label><br>
                  </div>
                </div>

                <br>

                <div class="field">
                  <div class="control">
                    <!-- Parameter selection -->
                    <!--when medaka is selected then the current parameters appear-->
                    <!-- threads - Medaka/ Nanopolish-->
                    <h1 class="subtitle">Select parameters: *</h1>
                    <h1 class="title is-6">Gather command: *</h1>
                    {% if errors %}
                    {% if errors['invalid_length'] %}
                    <p class="has-text-danger"> {{ errors['invalid_length'] }} </p>
                    {% endif %}
                    {% endif %}
                    <label for="min_length">Minimum Length: *</label>
                    <input type="number" id="min_length" name="min_length" required><br>
                    <label for="max_length">Maximum Length: *</label>
                    <input type="number" id="max_length" name="max_length" required><br><br>
                    <h1 class="title is-6">Other parameters: *</h1>
                    <label for="num_threads">Thread usage: *</label>
                    <input type="number" id="num_threads" name="num_threads" value="4" required><br>
                    <!-- normalise - Medaka/ Nanopolish-->
                      <label for="normalise">Normalise: *</label>
                      <input type="number" id="normalise" name="normalise" value="200" required><br>
                    <!--<br>
                    <div id="nanoParams" style="display:none">
                      <h1 class="title is-6">Nanopolish parameters:</h1>
                      <br>
                    </div>
                    <div id="medakaParams" style="display:none">
                      <h1 class="title is-6">Medaka parameters:</h1>
                    </div> -->
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <!-- single or multiple samples -->
                    <h1 class="subtitle">This input contains: *</h1>
                    <input type="radio" id="single" name="num_samples" value="single" required>
                    <label for="single">A single sample</label><br>
                    <input type="radio" id="multiple" name="num_samples" value="multiple">
                    <label for="multiple">Multiple samples</label><br>
                  </div>
                </div>

                <br>
                <div class="field">
                    <div class="control">
                        {% if errors %}
                        {% if errors['full_queue'] %}
                        <p class="has-text-danger"> {{ errors['full_queue'] }} </p>
                        {% endif %}
                        {% endif %}
                        <br>
                        <input class="button" name="submit_job" type="submit" value="Submit Job(s)"><br>
                    </div>
                </div>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>

      <script>
        /*var medakaParams = document.getElementById("medakaParams");
        var nanoParams = document.getElementById("nanoParams");

        function showMedaka() {
          medakaParams.style.display = "block";
          nanoParams.style.display = "none";
        }
        function showNano() {
          nanoParams.style.display = "block";
      		medakaParams.style.display = "none";
        }
        function showBoth(){
          nanoParams.style.display = "block";
          medakaParams.style.display = "block";
        }*/

        //primers
        var artic = document.getElementById("artic");
        var kirby = document.getElementById("kirby");
        //barcodes
        var native = document.getElementById("native");
        var rapid = document.getElementById("rapid");
        //max/min length
        function setParams() {
          var max_length = document.getElementById("max_length");
          var min_length = document.getElementById("min_length");
          if(artic.checked && native.checked) {
            max_length.value = '500';
            min_length.value = '300';
          } else if (kirby.checked && native.checked) {
            max_length.value = '2700';
            min_length.value = '2300';
          } else if (kirby.checked && rapid.checked) {
            max_length.value = '2700';
            min_length.value = '300';
          } else {
            max_length.value = '';
            min_length.value = '';
          }
        }

        // Displaying the Queue
        const jobsQueue = document.getElementById("jobsQueue");

         var jobsJson = JSON.parse({{ queue|tojson|safe }});
         console.log("Jobs Queue: ", jobsJson);

         if (jobsJson != null) {
             var jobs = jobsJson.jobs;
             jobs.forEach(job => {
                 for (var key of Object.keys(job)) {
                     const curJobRow = document.createElement("tr");
                     const curJob = document.createElement("td");
                     const linkNode = document.createElement("a");
                     const textNode = document.createTextNode(key);
                     linkNode.href = job[key];

                     const btn = document.createElement("BUTTON");
                     btn.innerHTML = "Abort";
                     btn.classList.add("button");
                     btn.classList.add("is-danger");
                     btn.classList.add("is-light");
                     btn.style = "float:right";

                     linkNode.appendChild(textNode);
                     curJob.appendChild(linkNode);
                     curJob.appendChild(btn);
                     curJobRow.appendChild(curJob);
                     jobsQueue.appendChild(curJobRow);
                 };
             });
         } else {
             const curJobRow = document.createElement("tr");
             const curJob = document.createElement("td");
             const textNode = document.createTextNode("You currently have no queued jobs.");
             curJob.classList.add("has-text-grey-light");
             curJob.classList.add("is-italic");

             curJob.appendChild(textNode);
             curJobRow.appendChild(curJob);
             jobsQueue.appendChild(curJobRow);
         };
        </script>

    {% endblock %}
</body>
</html>
