<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <title>Home</title>
</head>
<body>
    {% extends "page_template.html" %}
    {% block content %}



    <!-- Titles -->
    <div class="hero-body">
      <div class="container is-fluid">
        <h1 class="title is-4">SARS-CoV-2 Nanopore Analysis</h1> <br>
      </div>
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-one-quarter">
            <h1 class="subtitle">My Jobs Queue <br></h1>
          </div>
          <div class="column">
            
              <!-- Start parameter input -->
              <form method=POST>
                <div class="field">
                  <input class="button" name="submit_job" type="submit" value="Submit Job(s)"><br>
                </div>
              </form>
              <br>
              <div class="field">
                <div class="control">
                  <!-- Job name input -->
                  <input class="input is-info" id="sample_name" type="text" placeholder="Job Name">
                </div>
              </div>
              <!-- input folder input -->
              <h1 class="subtitle">Please select an input folder and .csv file:</h1>
              <label for="inputFolder">Select an input folder:</label>

              <!-- file upload button -->
              <form action="upload.php" id="inputFolder" method="post" enctype="multipart/form-data">
                <input type="file" title="Folder Select" webkitdirectory directory multiple />
                  <!-- <input type="hidden" id="test" name="test" value="test_val"> -->
              </form>

              <!-- csv file select -->
              <label for="csvFile">Select a file:</label><p>
              <input type="file" accept=".csv" id="csvFile" name="myfile">
              <div class="field">
                <div class="control">
                  <!-- pipeline select -->
                  <h1 class="subtitle">Please select a pipeline to run:</h1>
                  <input type="radio" id="nanopolish" name="pipeline" value="nanopolish">
                  <label for="male">Nanopolish</label><br>
                  <input type="radio" id="mendaka" name="pipeline" value="mendaka">
                  <label for="female">Mendaka</label><br>
                  <input type="radio" id="both" name="pipeline" value="both">
                  <label for="other">Both</label>
                </div>
              </div>
              
              <div class="field">
                <div class="control">
                  <!-- Parameter selection -->
                  <h1 class="subtitle">Select parameters:</h1>
                  <h2>Thread usage</h2>
                  <label for="numThreads">Number of threads:</label>
                  <input type="number" id="numThreads" name="numThreads" value="4"><br>
                  <br>

                  <h2>Gather command:</h2>

                  <label for="minLength">Minimum Length:</label>
                  <input type="number" id="minLength" name="minLength"><br>
                  <label for="maxLength">Maximum Length:</label>
                  <input type="number" id="maxLength" name="maxLength"><br>
                  <br>

                  <h2>Nanopolish:</h2>

                  <label for="normaliseNanopolish">Normalise:</label>
                  <input type="number" id="normaliseNanopolish" name="normaliseNanopolish" value="200"><br>

                  <br>
                  <h2>Mendaka:</h2>

                  <label for="normaliseMendaka">Normalise:</label>
                  <input type="number" id="normaliseMendaka" name="normaliseMendaka" value="200"><br>

                  
                </div>
              </div>
              
              
              <div class="field">
                <div class="control">
                  <h1 class="subtitle">Select output folder:</h1>
                  <form action="upload.php" method="post" enctype="multipart/form-data">
                    <input class="button" type="file" id="ouputFolder" title="Folder Select" webkitdirectory directory multiple />

                  </form>
                  <form action="/action_page.php">
                    <input type="checkbox" id="overRideData" name="overRideData">
                    <label for="overRideData">Override existing data?</label><br>
                  </form>


                </div>
              </div>
              
            </div>
          </div> 
        </div>
      </div>
    {% endblock %}
</body>
</html>