<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
		
	</style>
	<meta charset="utf-8">
    <title>Progress</title>
	<link rel="stylesheet" href="/static/css/bulma.min.css"/>
	<link rel="stylesheet" href="/static/css/confirm_modal.css"/>	
	<link rel="stylesheet" href="/static/css/page_template.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
  </head>
  <body>
    {% extends "page_template.html" %}
    {% block content %}
    <div class="hero-body">
		<div class="container is-fluid">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
					<div class="notification is-warning is-light" id="flash">
						<button class="delete" onclick="hide()"></button>
						{{ message }}
					</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
	
			<center>
				<h1 class="title is-4">Progress for {{ job_name }}</h1>
				<h2 class="title is-5">Job {{ num_in_queue }} of {{ queue_length }} in queue</h2>
			<br>

			<div class="notification is-danger is-light" id="errorMsg" style="display:none;">
				<button class="delete" onclick="hideError()"></button>
				An error has occurred. Please check the output log.
			</div>
			
			<a class="button is-danger is-light" id="abort" href='/abort/{{ job_name }}'>Abort Job</a>
			<button id="direct_to_output" class="button float-left submit-button" style="display:none">Go to output</button>
			<br><br>

				<h1 id='status'> <h1><br>
				<label for="file">Pipeline progress:</label><br>
				<p id="frac">{{ frac }}/3 steps complete</p>
				<br>
				<div id="progress-bar">

				</div>
				<button id="errorParams" class="button is-small" style="display:none">Return to Parameters</button>
				<script type="text/javascript">
					document.getElementById("errorParams").onclick = function () {
						location.href = "/error/{{ job_name }}";
					};
				</script>
				
				<br>
				<input type="button" class="button is-small" name="answer" value="View Job Parameters here" onclick="showDiv()" />
				</center>
				<div id="parameterDiv"  style="display:none;"> 
					<br> 
					<b>Input Folder:</b> {{ input_folder }}<br>
					<b>Output Folder:</b> {{ output_folder }} <br>
					<b>Pipeline(s) used:</b> {{ pipeline }} <br>
					<b>Read File:</b> {{ read_file }}<br>
					<b>Primer Scheme:</b> {{ primer_scheme }} <br>
					<b>Primer Type:</b> {{ primer_type }}<br>
					<b>Barcode Type:</b> {{ barcode_type}}<br>
					<b>Minimum Length:</b> {{ min_length }}<br>
					<b>Maximum Length:</b>  {{ max_length }}<br>
					<b>Number of Samples:</b> {{ num_samples }}
				
				</div><br>
				
				
				<script>
					function showDiv() {
						if (document.getElementById('parameterDiv').style.display == "block") {
							document.getElementById('parameterDiv').style.display = "none";
						} else {
							document.getElementById('parameterDiv').style.display = "block";
						}
					}
				</script>
			

				</div>
			<br>

			<center>
				<h1 class="title is-5">Output from the ARTIC Pipeline:</h1>
			</center>
				<div id="outputLog">
					<br>
					<pre style="white-space: pre-wrap; word-wrap: break-word;"><code>{{ outputLog|safe }}
					</code></pre><br><br>
				</div>
			
			<br><br>
			<script type="text/javascript">
				document.getElementById("direct_to_output").onclick = function () {
					location.href = "/output/{{ job_name }}";
				};
			</script>

		</div>
	</div>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>
		// Confirm abort
		var aElems = document.getElementById('abort');
		aElems.onclick = function() {
			var check = confirm("Are you sure you want to abort the job?");
			if (check == true) {
				return true;
			}
			else {
				return false;
			}
		};

		const status_div = document.getElementById('status');
		//const para = document.createElement("p");
		//para.innerHTML = JSON.stringify(stat);
		//status.appendChild(para);

        // create a progress bar
        var nanobar = new Nanobar({
            bg: '#44f',
            target: document.getElementById('progress-bar')
		});
		//nanobar.go(0);
		//update_progress('{{ url }}', nanobar, status_div );

		//var bar = document.getElementById('progress-bar');
		//bar.appendChild(nanobar)


		console.log("{{ job_name }}")
		$.ajax({
			type: 'POST',
			url: '/task/{{ job_name }}',
			success: function(data, status, request) {
				status_url = request.getResponseHeader('Location');
				update_progress(status_url, nanobar, status_div );
			},
			error: function() {
				alert('Unexpected error');
			}
		});

		function hide() {
			var message = document.getElementById("flash");
			message.style.display = "none";
		}

		function hideError() {
			var message = document.getElementById("errorMsg");
			message.style.display = "none";
		}

		function update_progress(status_url, nanobar, status_div) {
        // send GET request to status URL
			$.getJSON(status_url, function(data) {
				// update UI
				percent = parseInt(data['current'] * 100 / data['total']);
				nanobar.go(percent);
				$(status_div.childNodes[1]).text(percent + '%');
				$(status_div.childNodes[2]).text(data['status']);
				if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
					if ('result' in data) {
						// show result
						$(status_div.childNodes[3]).text('Result: ' + data['result']);
					}
					else {
						// something unexpected happened
						$(status_div.childNodes[3]).text('Result: ' + data['state']);
					}
				}
				else {
					// rerun in 2 seconds
					setTimeout(function() {
						update_progress(status_url, nanobar, status_div);
					}, 2000);
				}
			});
    	}
	
	</script>

	<script>
		function updateButton() {
			var frac = document.getElementById('frac').innerText;
			console.log("inside function")
			if (frac === "3/3 steps complete") {
				console.log(frac);
				document.getElementById('abort').style = "display:none";
				document.getElementById('direct_to_output').style = "";
			}
		}

		$(document).ready(function() {
			var interval = setInterval(function() {
				console.log("reloading....")
				$( "#outputLog" ).load(window.location.href + " #outputLog" );
				$( "#frac" ).load(window.location.href + " #frac" );
				updateButton();
				console.log("checking!!!")
				//$( "#dialog-confirm" ).load(window.location.href + " #dialog-confirm" );
			}, 900);

			var errorChecking = setInterval(function() {
				var output = document.getElementById('outputLog').innerText;
				const expression = /ERROR/;
				console.log(expression.test(output));
				if (expression.test(output) == true) {
					document.getElementById('errorMsg').style.display = "block";
					document.getElementById('errorParams').style.display = "block";
					clearInterval(errorChecking);
				} else {
					document.getElementById('errorMsg').style.display = "none";
				}
			}, 900);
			 
		});
	</script>
	

	<!--<script> 
		$( function() {
			$( "#dialog-confirm" ).dialog({
				autoOpen: false,
				resizable: false,
				height: 200,
				width: 200,
				modal: true,
				buttons: {
					"Restart": function() {
						$( this ).dialog( "close" );
					},
					Cancel: function() {
						$( this ).dialog( "close" );
					}
				},
				dialogClass: 'no-close success-dialog'
			});
		} );
		$(document).ready(function() {
			setInterval( function() {
				var errors = ["{{ error|safe }}"];
				console.log(errors[0]);
				if (errors[0] != null) {
					$( "#dialog-confirm" ).dialog( "open" );
				} 
			}, 1000);
		});
	</script> -->
    {% endblock %}
  </body>
</html>
